:root {
    --background: #1E1E20;
    --primary: #40DDE3;
    --primary-light: #2A6263;
    --primary-foreground:#121213;
    --text-color:#DEDEDE;
    --text-muted: #999999;
    --border-color: #404040;
    --border-radius: .31rem; 
    --linear-gradient: linear-gradient(#18181B, #18191B 0%);
    --shadow: box-shadow: 0px 5px 49px 0px rgba(0, 0, 0, 0.69);
}

@font-face {
    font-family: 'orbitron';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    /* src: url(https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap) */
    src: url(https://fonts.gstatic.com/s/orbitron/v34/yMJRMIlzdpvBhQQL_Qq7dy0.woff2) format('woff2')
}

@font-face {
    font-family: 'dm_sans';
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmsans/v16/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: dm_sans;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text-color);
    background-image:
            /* vertical lines */
            repeating-linear-gradient(to right,
                #40DDE312 0px,
                #40DDE312 1px,
                transparent 1px,
                transparent 20%),
            /* horizontal lines */
            repeating-linear-gradient(to bottom,
                #40DDE312 0px,
                #40DDE312 1px,
                transparent 1px,
                transparent 300px);
}

/* utility css */
.container {
    max-width: 80.75rem;
    margin: 0 auto;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: var(--linear-gradient);
    box-shadow: var(--shadow);
    padding: 1rem;
}
.btn {
    padding: 1rem 2rem;
}
.filled{
    border: none;
    border-radius: .35rem;
    background-color: var(--primary);
    color: var(--primary-foreground);
}
.outline{
    border-radius: 30px;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: var(--primary-foreground);
    font-family: orbitron;

}
.btn-center{
   display: block;
   margin: 0 auto;
}

nav{
    display: flex;
    padding: 1rem 4rem;
    align-items: center;
    justify-content:space-between ;
}
nav .lunch_btn{
    background-color: var(--primary);
    color: var(--primary-foreground);
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -2px;
    border: none;
    border-radius: var(--border-radius);
    padding: .5rem;

}

.banner {
    max-width: 65.25rem;
    height: 43.75rem;
    background: linear-gradient(#18181B, #18191B 0%);
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: end; */

}

.banner__top{
    width: 25rem;
    height: 1.5rem;
    border: 1px solid var(--primary);
    border-radius: 30px;
    background-color: var(--primary-light);

   

}

.banner__top-active{
    height: 100%;
    width: 12.5rem;
    background-color: var(--primary);
    border-radius: 30px;
    color: var(--primary-foreground);
    font-family:  "DM Sans", sans-serif;;
}


.banner h1{
    font-weight: 600;
    font-size: 4.87rem;
   
}


.banner__join .banner__join-title{
    font-size: 26px;

}

.banner__join div{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2rem;
    border-radius: var(--border-radius);
    width: 32.8rem;
    border:1px solid var(--border-color)
}

.banner__join div p{
    padding-left: 2rem;
}




/* meet  */

.meet__hashrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.meet__hashrid button {
    width: auto;
    background-color: var(--primary-foreground);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 1rem 2rem;
    font-family: orbitron;
    font-size: 14px;

}

.meet__hashrid p {
    font-family: dm_sans;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
    max-width: 65rem;

}



/* features */

.features {
    margin-top: 7rem;
    padding: 5rem 1.5rem;
}
.features__description{
    max-width: 65rem;
    margin: 0 auto;
    text-align: center;
    font-family: dm_sans;
    font-size: 25px;
    margin-top: 3rem;

}

.features_first{
    display: flex;
    padding: 4rem;
    gap: 2.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius:var(--border-radius);
    padding: 1rem;
    box-shadow: var(--shadow);
    position: relative;
}


.card .small_face_wrapper{
    position: absolute;
    left: 1rem;
    top: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    padding: .2rem;
    border-radius: 50%;
    border: 1px solid var(--primary);
    
    
   
}

.small_face_wrapper .small_face {
    height: 100%;
    width: 100%;
    opacity: 100%;
    z-index: 999;
    
}



.card img{
    height: 180px;
    width: 180px;
    margin-bottom: 1rem;
}

.card_info .title{
    font-size: 20px;
    margin-bottom: .8rem;
}

.card_info .b_title{
    font-weight: 700;
    color: var(--text-muted);
}
.card_info .sub_title{
    font-size: 14px;
    color: var(--text-muted);
}
.features__second{
    display: flex;
    
    padding: 0 4rem;
    justify-content: space-between;
    gap: 2.5rem;
    
}

.features__second-card {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    
    border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        padding: 1rem;
        box-shadow: var(--shadow);
}
.features__second-card .image__wrapper{
    height: 13.12rem;
    width: 13.12rem;
}

.use__hashrid{
    max-width: 78rem;
    padding:  5rem 0;
    margin: 0 auto;
}
.use__hashrid-grid-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-top: 2.5rem;
    padding: 0 4rem ;

}



/* our partners */

.our__partners{
    padding: 2rem 5rem;
}

.our__partners-short-info{
    max-width: 60rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5rem;
    font-size: 1.56rem;
}

.partner__wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-top: 2.5rem;

}

.partner__wrapper-card{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
       padding: .2rem;
        box-shadow: var(--shadow);
}



/* faq  */
.faq{
    margin-top: 5rem;
    max-width: 80.75rem;
    margin: 0 auto;
}
.faq__text{
    max-width: 72rem;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.56rem;
}

.faq_container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 2.5rem;
    padding: 5rem 0;

}


.accordion-item {
    max-width: 48%;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--linear-gradient);
    box-shadow: var(--shadow);
    transition: background 0.3s ease;
    height: max-content;
}


.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: color 0.3s ease;
}

.accordion-header.active {
    color: var(--primary);
    /* change text color when active */ 
}

.accordion-header .icon{
    font-size: 25px;
}
.accordion-header:hover {
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: var(--linear-gradient);
    padding: 0 1.5rem;
    transition: max-height 0.3s ease, padding 0.3s ease;
    border-top: var(--border-color);
}

.accordion-content.open {
    padding: 1rem;
    max-height: 500px;
    
}